@import "./calcuterem.scss";
body, div, ul, li, h3, h4, h5, form, input, button, textarea, p {margin: 0;padding: 0;}
address,em,strong,h3,h4,h5,i{font-style: normal;font-weight: normal;}
ul,li{list-style: none;}
img{border: 0;}
html{-webkit-overflow-scrolling: touch;height: 100%;}
body{position:relative;max-width: 640px;min-width: 320px;margin:0 auto;background: #ffffff;font-size: rem(28px);min-height: 100%;}

input {
  outline: none;
}

textarea {
  -webkit-appearance: none;
}

#app {
  width: rem(750px);
}

input[type=button],
input[type=text] {
  -webkit-appearance: none;
  outline: none;
}

.overfl {overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }

.picenter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transformy {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.transforx {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

 a {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
