$white: #fff;
$eee: #eee;
$c80bd01: #80bd01;
$ddd: #ddd;

.mall-center {
  font-size: rem(28px);

  header {
    background-color: $white;
    position: relative;
    text-align: center;

    .head-bg {
      background-image: url('../../assets/headimg.jpg');
      height: rem(360px);
    }

    .self-pic {
      background-color: $eee;
      border-radius: 100%;
      height: rem(246px);
      left: 50%;
      position: absolute;
      top: rem(200px);
      width: rem(246px);
    }

    .login-info {
      // border-bottom: 1px solid $ddd;
      color: $c80bd01;
      line-height: rem(220px);
      padding-bottom: rem(24px);
    }
  }
}
