.page-slide-right-enter {
  -webkit-transform: translateX(rem(-750px));
  transform: translateX(rem(-750px));
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.page-slide-left-enter {
  -webkit-transform: translateX(rem(750px));
  transform: translateX(rem(750px));
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
